

@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css or your custom CSS file */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 5s linear infinite; 
}
